.git
.gitignore
boost_asio/Version.txt
boost_test/t0001
boost_test/t0002
boost_test/t0003
boost_test/t0005
boost_training/cards
boost_training/counterMPL
boost_training/examples/cards_fibo_seaman.zip
boost_training/examples/examples.zip
boost_training/examples/Exception7.zip
boost_training/examples_mthrd.zip
boost_training/examples/prioQu.zip
boost_training/exception_example
boost_training/fibonacci_iterator
boost_training/sailor
boost_training/.ycm_extra_conf.py
cmake_tutorial/build/CMakeFiles/3.0.2/CMakeDetermineCompilerABI_C.bin
cmake_tutorial/build/CMakeFiles/3.0.2/CMakeDetermineCompilerABI_CXX.bin
cmake_tutorial/build/CMakeFiles/3.0.2/CompilerIdC/a.out
cmake_tutorial/build/CMakeFiles/3.0.2/CompilerIdCXX/a.out
cmake_tutorial/build/ToDo
codility/frogJump/frog_jump
codility/frogJump/frog_jump_unittest
codility/frogJump/Makefile
codility/frogJump/.ycm_extra_conf.py
codility/frogJump/.ycm_extra_conf.pyc
codility/FrogRiverOne/frog_river_one
codility/FrogRiverOne/frog_river_one_unittest
codility/FrogRiverOne/Makefile
codility/FrogRiverOne/.ycm_extra_conf.py
codility/FrogRiverOne/.ycm_extra_conf.pyc
codility/permCheck/Makefile
codility/permCheck/perm_check
codility/permCheck/perm_check_unittest
codility/permCheck/.perm_check_unittest.c.swp
codility/permCheck/.ycm_extra_conf.py
codility/permCheck/.ycm_extra_conf.pyc
codility/permMissingElem/gtest-all.o
codility/permMissingElem/gtest_main.a
codility/permMissingElem/gtest_main.o
codility/permMissingElem/Makefile
codility/permMissingElem/perm_missing_main.o
codility/permMissingElem/perm_missing.o
codility/permMissingElem/perm_missing_unittest
codility/permMissingElem/perm_missing_unittest.o
codility/permMissingElem/.ycm_extra_conf.py
codility/permMissingElem/.ycm_extra_conf.pyc
codility/tapeEquilibrum/gtest-all.o
codility/tapeEquilibrum/gtest_main.a
codility/tapeEquilibrum/gtest_main.o
codility/tapeEquilibrum/Makefile
codility/tapeEquilibrum/Makefile_back
codility/tapeEquilibrum/smallest_diff
codility/tapeEquilibrum/smallest_diff_main.o
codility/tapeEquilibrum/smallest_diff.o
codility/tapeEquilibrum/smallest_diff_unittest
codility/tapeEquilibrum/smallest_diff_unittest.o
codility/tapeEquilibrum/.ycm_extra_conf.py
codility/tapeEquilibrum/.ycm_extra_conf.pyc
cppGenerators v0.1.zip
gtest/old/gtest-all.o
gtest/old/gtest_main.a
gtest/old/gtest_main.o
gtest/old/Makefile
gtest/old/Makefile_example
gtest/old/sample1
gtest/old/sample1.cc
gtest/old/sample1_main.cc
gtest/old/sample1_main.o
gtest/old/sample1.o
gtest/old/sample1_unittest
gtest/old/sample1_unittest.cc
gtest/old/sample1_unittest.o
gtest/t0001/Makefile
gtest/t0001/sample10_unittest
gtest/t0001/sample1.cc
gtest/t0001/sample1_unittest
gtest/t0001/sample1_unittest.cc
gtest/t0001/sample6_unittest
gtest/t0001/sample8_unittest
gtest/t0001/sample9_unittest
gtest/.ycm_extra_conf.py
mega_project_pack/fibonacci/bin/fibonacci_cached
mega_project_pack/fibonacci/bin/fibonacci_cached_pg
mega_project_pack/fibonacci/bin/fibonacci_main
mega_project_pack/fibonacci/bin/fibonacci_recalc
mega_project_pack/fibonacci/bin/fibonacci_recalc_pg
mega_project_pack/fibonacci/bin/fibonacci_unittest
mega_project_pack/fibonacci/build/CMakeFiles/3.0.2/CMakeDetermineCompilerABI_C.bin
mega_project_pack/fibonacci/build/CMakeFiles/3.0.2/CMakeDetermineCompilerABI_CXX.bin
mega_project_pack/fibonacci/build/CMakeFiles/3.0.2/CompilerIdC/a.out
mega_project_pack/fibonacci/build/CMakeFiles/3.0.2/CompilerIdCXX/a.out
mega_project_pack/fibonacci/build/src/fibonacci_lib/libfibonacci_lib.so
mega_project_pack/fibonacci/src/fibonacci_recalc
mega_project_pack/find_nth_pi_digit/find_nth_pi_digit_unittest
merge_sort
pure_c/bare_metal_LED.elf
pure_c/t20_elf_file_parsing
pure_c/.ycm_extra_conf.py
pure_c/.ycm_extra_conf.pyc
qt/t001/qt
qt/t002/t002
qt/t003/t003
qt/t004/t004
qt/t005/t005
qt/t007/t007
qt/t008/t008
scoped_ptr_test
SerialPort/Makefile
SerialPort/SerialPort.o
SerialPort/t54_boost_asio.o
t03_thread
t06_pthread_ref
t07_hex_to_int
t08_stringstream
t09_template_class_static_method_invocation
t1
t10_bitset
t11_open_ssize
t12_iterator_type
t13_scoped_ptr_addr
t14_vector_data
t15_getops
t16_sizeof_multidimensional_array
t17_inheritance
t18_for_each_polymorphism
t19_search_algorithm
t2
t21_vector_list_iterator_stability
t22_type_of_object_passed_by_ptr_ref
t23_pure_virt_fcn_body
t23_pure_virt_fcn_body_2
t24_vector_vs_list_speed
t25_main_fcn_prototypes_1
t25_main_fcn_prototypes_2
.t26_function_polymorphism.cpp.swp
t26_simple_program
t27_struct_test
t28_aggregate_sequential_initialization
t29_palindrom
t30_factory_base_templace
t31_pascals_triangle
t32_string_word_order_reverse
t33_object_inheritance
t33_stl_heap
t34_sizeof_null_ptr
t35_fizzbuzz
t36_CRTP
t36_CRTP_3
t36_CRTP_clang
t38_initializer_list
t39_decorator_pattern
t4
t40_exceptions_tests
t41_thread
t42_thread_promise
t43_async
t44_async_task
t45_async_thread_id
t46_thread_id
t47_generate_n
t48_current_cpu_number
t5
t50_double_dispatch
t51_static_overload_binding
t52_filesystem
t53_boost_inner_product
t54_std_inner_product
t56_boost_bind_nesting
t57_smart_ptr_desctructor
t58_complex_lamdba_1
t5_copy
t61_lambda_1
t62_boost_iterators
t63_boost_enable_if
t65_template_template_argument
t66_strings_vector_concatenation
t67_ostream_iterator
t67_space_in_string_finder
t68_dynamic_sql_query_creation
t70_convertability_detection
t71_convertability_with_sizeof
t72_is_convertible_type_traits
t73_create_object_in_bind_expr
t74_internal_inheritance
t74_internal_polymorphism
t74_internal_polymorphism_parent
t75_file_copy
t75_friended_global_function_visibility
t76_string_to_int
t77_error_finder
t78_local_class_guard
t80_bind_to_pair_first
t82_boost_regex
t83_passing_bind_expr_to_boost_fcn
t84_boost_Regex_2
t85_lexical_cast
t86_convert_int_to_bool_in_return_value
t87_comparsion_operator_visibility
t87_rvalue_in_cpp03
t88_map_bracket_operator_to_bool
t88_virtual_inline
t89_boost_lexical_cast
t89_ycm_with_templates
t90_std_regex
t98_passing_poly_by_ref
.test_02.cpp.swp.gz
t100
t99_boost_test_suite_fixture_creation
unittest_tests/v1/build/CMakeFiles/3.0.2/CMakeDetermineCompilerABI_C.bin
unittest_tests/v1/build/CMakeFiles/3.0.2/CMakeDetermineCompilerABI_CXX.bin
unittest_tests/v1/build/CMakeFiles/3.0.2/CompilerIdC/a.out
unittest_tests/v1/build/CMakeFiles/3.0.2/CompilerIdCXX/a.out
unittest_tests/v1/build/soundex_test
unittest_tests/v2/build/CMakeFiles/3.0.2/CMakeDetermineCompilerABI_C.bin
unittest_tests/v2/build/CMakeFiles/3.0.2/CMakeDetermineCompilerABI_CXX.bin
unittest_tests/v2/build/CMakeFiles/3.0.2/CompilerIdC/a.out
unittest_tests/v2/build/CMakeFiles/3.0.2/CompilerIdCXX/a.out
unittest_tests/v2/build/soundex_test

unittest_tests/v1/build/*
unittest_tests/v2/build/*
